.card {
    width: 43rem;
    height: 43rem;
    background-color: var(--card-background);
    border-radius: 1rem;
    box-shadow: 0 0.6rem 0.2rem var(--shadow-color);
    overflow: hidden;

    &__header {
        display: flex;
        justify-content: center;
        padding: 4rem 0;
        background: var(--card-header-background);
        &__title {
            font-size: 3rem;
            font-weight: 700;
            color: var(--text-basic);
            text-align: center;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;

        &__value {
            font-size: 6.4rem;
            font-weight: 500;
            padding: 5rem 0;

            &.green {
                color: var(--text-green);
            }

            &.blue {
                color: var(--text-blue);
            }

            &.red {
                color: var(--text-red);
            }
        }
    }

    &__footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 11rem;
        border-top: 1px solid var(--line-color);

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:first-child {
                border-right: 1px solid var(--line-color);
            }

            &__title {
                font-size: 1.8rem;
                font-weight: 600;
                color: var(--text-secondary);
            }

            &__value {
                font-size: 2.4rem;
                font-weight: 600;
                color: var(--text-basic);
            }
        }
    }

    .error {
        flex-direction: column;
        gap: 2rem;
        height: 100%;
        
        &__message {
            color: var(--text-basic);
            font-size: 2.6rem;
            font-weight: 400;
        }

        button {
            color: var(--text-basic);
            font-size: 1.8rem;
            font-weight: 600;
            padding: 1.6rem 3.2rem;
            border: none;
            border-radius: 1rem;
            cursor: pointer;
        }
    }

    .loading {
        height: 100%;

        img {
            width: 10rem;
            aspect-ratio: 1/1;
        }
    }
}